body {
    font-family: sans-serif;
    background-color: #d1d7db;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*login and register pages*/
.box {
    background: white;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.box button {
    width: 95%;
    padding: 12px;
    background-color:  #44a331;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.box button:hover {
    background-color:  #247211;
}

/* chat.html*/
/*headers & buttons*/
#header2 {
    padding: 0 20px;
}

.header-logout {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    transition: 0.2s;
}

.header-logout:hover {
    background-color: #af2835;
}

.btn-ai {
    background: #eae6df;
    color: #54656f;
    border: 1px solid #d1d7db;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.85rem;
}

.btn-ai:hover {
    background: #d1d7db;
}

/*main layout*/
.wide-box {
    display: flex;
    width: 95%;
    max-width: 1400px;
    height: 90vh;
    margin: 20px auto;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    overflow: hidden;
}

/*sidebar */
.sidebar {
    width: 20%;
    min-width: 250px;
    background: white;
    border-right: 1px solid #e9edef;
    display: flex;
    flex-direction: column; 
}

.sidebar h3 {
    padding: 20px;
    margin: 0;
    background: #f0f2f5;
    color: #54656f;
    height: 30px;
}

#users-list {
    flex: 1;
    overflow-y: auto;
}

.user-row {
    padding: 15px 20px;
    border-bottom: 1px solid #f0f2f5;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.user-row:hover {
    background: #f5f6f6;
}

.user-row.active {
    background: #f0f2f5;
    font-weight: 600;
}

/*chat area */
.chat-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    position: relative;
}

.chat-header {
    padding: 0 20px;
    background: #8b8b8b;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/*messages*/
.messages-area {
    flex: 1;
    padding: 20px 40px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message-bubble {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 15px;
    line-height: 19px;
    position: relative;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
}

.message-bubble.mine {
    background: #befdb3;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.message-bubble.theirs {
    background: #ffffff;
    align-self: flex-start;
    border-top-left-radius: 0;
}

/* marks eza seen or not */
.tick-span {
    font-size: 11px;
    margin-left: 8px;
    float: right;
    margin-top: 4px;
}

.tick-sent, .tick-delivered {
    color: #8696a0;
}

.tick-read {
    color: #0501ff;
}

/*msg area _ input box */
#input-area {
    padding: 20px;
    background: #8b8b8b;
    display: flex;
    align-items: center;
}

.input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

#msg-input {
    flex: 1;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.btn-send {
    margin-left: 15px;
    width: 60px;
    height: 50px;
    background: #38c51c;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

/*ai response*/
.ai-box {
    background: #ffffff;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid  #38c51c;
    font-size: 0.95rem;
    line-height: 1.5;
    color: #333;
}

.hide {
    display: none ;
}